<div class="book">
    <img
        src="{{ book.cover }}"
        alt="{{ book.title }}"
        class="cover" />

    <div>
        <div>
            <a
                href="{{ book.link }}"
                target="_blank"
                rel="noopener"
                class="title"
                style="display: block;">
                    {{ book.title }}
                </a>

            <span class="author">{{ book.author }}</span>
        </div>

        <span class="description">
            {{ book.description }}
        </span>
    </div>
</div>
