<a
    href="{{ book.link }}"
    target="_blank"
    rel="noopener"
    class="book">

    <img
        src="{{ book.cover }}"
        alt="{{ book.title }}"
        class="cover" />

    <div>
        <div>
            <span class="title" style="display: block;"> {{ book.title }}</span>
            <span class="author" style="display: block;">{{ book.author }}</span>
        </div>

        <span class="description">
            {{ book.description }}
        </span>
    </div>
</a>
