<footer class="footer">
    <p>
        Built with
        <span style="font-weight: 600">
            <a
                href="https://www.11ty.dev/"
                target="_blank"
                rel="noopener noreferrer"
                style="text-decoration: none">
                    11ty
            </a>
        </span>,
        <span style="font-weight: 600">
            <a
                href="https://mozilla.github.io/nunjucks/"
                target="_blank"
                rel="noopener noreferrer"
                style="text-decoration: none">
                    Nunjucks
            </a>
        </span>
        and lots of ❤️
    </p>
    <p>
        Hosted on <a
            href="https://github.com/valerioferretti92/vfio"
            target="_blank"
            rel="noopener noreferrer"
            class="github">
                {% include "header/github.svg" %}
        </a>
    </p>
</footer>
