{% extends "../_layouts/base.njk" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/css/article.css" />
<link rel="stylesheet" href="/css/table.css" />
{% endblock %}

{% block content %}
<article class="article">
    <header>
        <span class="date" style="display: block;">{{ date | date("MMMM dd, yyyy") }}</span>
        <h2 class="title" style="display: block;"> {{ title }}</h2>
    </header>

    {{ content | safe }}
</article>
{% endblock %}

{% block js %}
{{ super() }}
{% endblock %}
