{% extends "../_layouts/base.njk" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/css/home.css" />
{% endblock %}

{% block content %}
{{ content | safe }}
{% endblock %}

{% block js %}
{{ super() }}
<script defer src="/js/home.js"></script>
{% endblock %}
