{#
Unfortuantely, extends always looks in dir.includes,
even if you specified a dir.layouts folder.
#}
{% extends "../_layouts/base.njk" %}

{% block styles %}
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/home.css" />
{% endblock %}

{% block js %}
<script defer src="/js/home.js"></script>
{% endblock %}
