{% extends "layouts/base.njk" %}

{% block styles %}
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/home.css" />
{% endblock %}

{% block js %}
<script defer src="/js/home.js"></script>
{% endblock %}
