<header class="header">
    <div class="me">
        <h3>Valerio Ferretti</h3>
        <p>
            Software Engineer @
            <a
                href="https://www.cortextech.io"
                target="_blank"
                rel="noopener noreferrer"
            >Cortex</a>
        </p>
    </div>
    <div class="ext">
        <a
            href="https://github.com/valerioferretti92"
            target="_blank"
            rel="noopener noreferrer"
        >
            {% include "header/github.svg" %}
        </a>
        <a
            href="https://www.linkedin.com/in/valerio-ferretti-676548149/"
            target="_blank"
            rel="noopener noreferrer"
        >
            {% include "header/linkedin.svg" %}
        </a>
        <a
            href="https://www.strava.com/athletes/22139297"
            target="_blank"
            rel="noopener noreferrer"
        >
            {% include "header/strava.svg" %}
        </a>
    </div>
    <div class="nav">
        <a>My Articles</a>
    </div>
</header>
