.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
  color: rgb(var(--charcoal-brown));
  background-color: rgb(var(--dust-grey-light));
  border-top: 3px solid rgb(var(--dust-grey-dark));
}

.footer .github {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 4px;
  vertical-align: middle;
}

.footer .github svg {
  height: 1.5rem;
  width: auto;
  fill: currentColor;
  margin-left: 4px;
  margin-bottom: 4px;
}

.footer .github:hover {
  color: rgb(var(--github));
  text-decoration-color: rgb(var(--github));
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}
