.home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    margin: 2rem auto 0;
    max-width: 52rem;
    text-align: center;
}

.home h4 {
    text-transform: uppercase;
}

.home header {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(var(--dust-grey));
}

.home p {
    margin: 0 0 1.25rem;
    text-align: justify;
    line-height: 1.5;
}

.home summary {
    outline: none;
    padding: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: rgb(var(--charcoal-brown));
    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}

.home summary:hover {
    color: rgb(var(--spicy-paprika));
}

.books {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.book {
    display: flex;
    gap: 1rem;
    padding: 1.25rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
    background: rgb(var(--dust-grey));
    text-align: left;
}

.book .cover {
    max-height: 150px;
}

.book div {
    display: flex;
    flex-direction: column;
}

.book .title {
    font-weight: 500;
}

.book .author {
    font-weight: 300;
}

.book .description {
    flex: 1;
    display: flex;
    align-items: center;
    font-style: italic;
}

.book:hover {
    transform: translateY(-2px);
}
