.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  margin: 2rem auto 0;
  max-width: 52rem;
  text-align: center;
}

.home h4 {
  text-transform: uppercase;
}

.home header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(var(--dust-grey));
}

.home p {
  margin: 0 0 1.25rem;
  text-align: justify;
  line-height: 1.5;
}

.home summary {
  outline: none;
  padding: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: rgb(var(--charcoal-brown));
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.home summary:hover {
  color: rgb(var(--spicy-paprika));
}

.books,
.articles {
  display: flex;
  flex-direction: column;
}

.books {
  gap: 1rem;
}

.articles {
  gap: 2rem;
}

.book,
.article {
  display: flex;
  gap: 1rem;
  text-align: left;
}

.book {
  padding: 1.25rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
  background: rgb(var(--dust-grey));
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .book {
    display: flex;
    flex-direction: column;
  }
}

.book .cover {
  width: auto;
  height: 150px;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.3));
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .book .cover {
    width: 75%;
    height: auto;
    margin: 0 auto;
  }
}

.books a,
.articles a {
  text-decoration: none;
  color: inherit;
}

.book div,
.articles div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.articles div {
  text-align: left;
}

.book .title,
.article .title {
  font-weight: 500;
}

.book:hover .title,
.article:hover .title {
  color: rgb(var(--spicy-paprika));
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.book .author {
  font-weight: 300;
}

.book .description {
  flex: 1;
  display: flex;
  align-items: center;
  font-style: italic;
}

.article .datetime {
  font-weight: 300;
}

.book:hover,
.article:hover {
  transform: translateY(-2px);
}
