---
layout: layouts/home.njk
title: Home
permalink: /
---

{% include "header.njk" %}
<main class="home">
    <section class="about">
        <header>
            <h4>About Myself</h4>
        </header>
        <p>
            Hi, I’m Valerio Ferretti! I’m a passionate software
            engineer with a strong background in backend
            development and a growing interest in frontend and
            web technologies.
            I am a Linux aficionado and have been playing
            with Linux distros, window managers, and desktop
            environments for many years, finally settling on
            KDE Plasma on Arch Linux. I just love the open
            source philosophy and the opportunity to fully
            own my system, occasionally break things 😬 and
            learn from my mistakes.
        </p>
        <p>
            I live in an alpine region 🏔️ in northern Italy
            and I am very much into mountaineering, hiking,
            trail running and cycling. These activities are
            not just a hobby, they are a challenge and an
            occasion to push my limits, which is something I
            really enjoy. My motto?
            <span style="font-style: italic; font-weight: bold;">
                Mens sana in corpore sano.
            </span>
        </p>
        <p>
            This blog is a place where I can talk about myself,
            share my thoughts and findings on technology, and
            rumble on best practices. Happy browsing!
        </p>
    </section>
    <section class="readings">
        <header>
            <h4>Readings</h4>
        </header>
        <p>
            This is a collection of books and articles about
            technology that I found interesting and that I
            consider worth sharing
        </p>
    </section>
</main>
