---
layout: layouts/home.njk
title: Home
permalink: /
---

{% include "header/header.njk" %}
<main class="home">
    <section class="about">
        <header>
            <h4 id="about">
                About Myself <a href="#about" class="anchor">#</a>
            </h4>
        </header>
        <p>
            Hi, I’m Valerio Ferretti! I’m a passionate software
            engineer with a strong background in backend
            development and a growing interest in frontend and
            web technologies.
            I am a Linux aficionado and have been playing
            with Linux distros, window managers, and desktop
            environments for many years, finally settling on
            <a style="color: #212529; font-weight: 700;" href="https://kde.org/plasma-desktop/">KDE Plasma</a> on
            <a style="color: #1094D2; font-weight: 700;" href="https://archlinux.org/">Arch Linux</a>.
            I just love the open source philosophy and the
            opportunity to fully own my system, occasionally
            break things 😬 and learn from my mistakes.
        </p>
        <p>
            I live in an alpine region 🏔️ in northern Italy
            and I am very much into mountaineering, hiking,
            trail running and cycling. These activities are
            not just a hobby, they are a challenge and an
            occasion to push my limits, which is something I
            really enjoy. My motto?
            <span style="font-style: italic; font-weight: bold;">
                Mens sana in corpore sano.
            </span>
        </p>
        <p>
            This blog is a place where I can talk about myself,
            share my thoughts and findings on technology, and
            rumble on best practices. Happy browsing!
        </p>
    </section>
    <section class="readings">
        <header>
            <h4 id="readings">
                Readings <a href="#readings" class="anchor">#</a>
            </h4>
        </header>
        <p>
            Continuous learning is essential in our industry.
            Below is a list of readings that have greatly
            benefited me since completing my university
            studies.
        </p>

        <details>
            <summary>Artificial Intelligence</summary>
            <div class="books">
                {% for book in artificialIntelligenceReadings %}
                    {% include "home/book.njk" %}
                {% endfor %}
            </div>
        </details>

        <details>
            <summary>Programming Languages</summary>
            <div class="books">
                {% for book in programmingLanguagesReadings %}
                    {% include "home/book.njk" %}
                {% endfor %}
            </div>
        </details>

        <details>
            <summary>Cloud Computing</summary>
            <div class="books">
                {% for book in cloudComputingReadings %}
                    {% include "home/book.njk" %}
                {% endfor %}
            </div>
        </details>

        <details>
            <summary>Data Stores</summary>
            <div class="books">
                {% for book in dataStoresReadings %}
                    {% include "home/book.njk" %}
                {% endfor %}
            </div>
        </details>

        <details>
            <summary>Event Driven Programming</summary>
            <div class="books">
                {% for book in eventDrivenProgrammingReadings %}
                    {% include "home/book.njk" %}
                {% endfor %}
            </div>
        </details>
    </section>
</main>
